<div class="container" ng-controller="SignupController as reg">
  <h2 class="text-center">Sign up</h2>
  <div class="col-sm-6 col-sm-offset-3" >
    <fieldset>
      <form name='regForm' novalidate>
        <div class="input-group">
            <input type="text" name="firstname" placeholder="First Name"
              ng-model="reg.user.firstname"
              required >
              <span
                ng-if="regForm.firstname.$error.required && regForm.firstname.$touched">
                Can't be empty
              </span>
        </div>
        <div class="input-group">
            <input type="text" name="lastname" placeholder="Last Name"
              ng-model="reg.user.lastname"
              required >
              <span
                ng-if="regForm.lastname.$error.required && regForm.lastname.$touched">
                Can't be empty
              </span>
        </div>
        <div class="input-group">
            <input type="email" name="email" placeholder="Email"
              ng-model="reg.user.email"
              required>
              <span ng-if="regForm.email.$invalid && regForm.email.$touched">
                Must be a valid email address: handle@domain format
              </span>
        </div>
        <div class="input-group">
            <input type="text" name="phone" placeholder="Phone ###-###-####"
              ng-model="reg.user.phone"
              pattern="(\d{3})-(\d{3})-(\d{4})">
              <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
                Phone must be in the format ###-###-####
              </span>
        </div>
        <div class="input-group">
            <input type="text" name="favmenu" placeholder="Favorite menu number"
              ng-model="reg.user.short_name" >
            <span ng-show="reg.errorMenuNumber">No such menu number exists. Your information hasn't been saved.</span>  
        </div>
        <button
          class="btn btn-primary" 
          ng-disabled="regForm.$invalid"
          ng-click="reg.submit(user)">Submit</button>
          <span ng-show="!reg.errorMenuNumber && reg.saveSuccess">Your information has been saved</span>  
       </form>
    </fieldset>

</div>
